# Mac OS X files that are not needed.
*.DS_Store

# IDE specific Files
.idea/*

# Node.js modules should not be kept in version control.  Install them
# using "npm install".
node_modules

/pouch__all_dbs__/*
/dbs/*
/admin_dbs/*
/bob/*
/_users/*
/_replicator/*
!.gitkeep

# Local environment variables
*.env

*.log
log.txt

# others
*.old

# server logs
logs/*.log
